*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.box1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3{
    height: 100%;
    width: 100%;
    background-color:royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    height: 17vw;
    width: 17vw;
    border-radius: 50%;
    background: linear-gradient(45deg, red, orange);
}